.about-text {
font-size: x-large;
}

.project-link {
    font-size: x-large;
    text-decoration: none;
    color: #38BF8F;
}
.experience-link {
    font-size: x-large;
    text-decoration: none;
    color: #F5D26A;
}

.link {
    font-size: x-large;
    text-decoration: none;
    color: #60B1EC;
}
.contact {
    font-size: x-large;
    text-decoration: none;
    color: #ED983B;
}